# name: Renovate
# on:
#   schedule:
#     - cron: "0 * * * *" # this runs the workflow every hour
# jobs:
#   renovate:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v3
#       - name: Run Renovate
#         uses: renovatebot/github-action@v38.0.0
#         with:
#           token: ${{ secrets.RENOVATE_TOKEN }}
